# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Model files
*.h5
*.pkl

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# history folder
.history/